<%- include('../template/head')-%>
<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <%- include('../template/nav')-%>
        <main role="main" class="inner cover">
            <%- include('../template/messages')-%>
            <h1 class="cover-heading">Add new Captain</h1>
            <form method="POST" action="/addCaptain">
                <div class="form-group">
                    <label for="secondary_id">Captain ID</label> <!-- Should be secondary ID -->
                    <input type="text" class="form-control" id="secondary_id" name="secondary_id" placeholder="Enter the new captain ID" required>
                </div>
                <div class="form-group">
                    <label for="firstname">First name</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter first name" required>
                </div>
                <div class="form-group">
                    <label for="lastname">Last name</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter last name" required>
                </div>
                
                <div class="form-group">
                    <label for="rank">Rank</label>
                    <input type="text" class="form-control" id="rank" name="rank" placeholder="Enter rank of new captain" required>
                </div>

                <div class="form-group">
                    <label for="homeplanet">Home planet</label>
                    <input type="text" class="form-control" id="homeplanet" name="homeplanet" placeholder="Enter homeplanet of new captain" required>
                </div>

                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
            <div class="btn-group mb-3 float-right">
                <a href="/addCaptain" class="btn btn-dark">Add</a>
                <a href="/updateCaptain" class="btn btn-dark">Update</a>
                <a href="/removeCaptain" class="btn btn-dark">Remove</a>
            </div>
        </main>
        <%- include('../template/footerBecky')-%>
    </div>
</body>
<script>
    window.onload = function () {
        document.getElementById('captain').classList.add('active');
    };
</script>

</html>