<!-- Footer Partial Template -->
<footer class="mastfoot mt-auto">
    <div class="inner">
        <p>Created By <a href="https://github.com/catJoeIrving">Joseph Irving</a> <a href="https://github.com/catJoeIrving"><i class="fab fa-github"></i></a></p>
    </div>
</footer>
