<!-- Updated Messages -->
<div class="container">
    <% if(typeof message === 'string'){ %>
    <div class="alert alert-primary alert-dismissible">
        <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= message %>
    </div>
    <% } %>
</div>
