<!-- Navigation Partial Template -->
<header class="masthead mb-auto">
    <div class="inner">
        <h2 class="masthead-brand">Interstellar Cargo</h2>
        <nav class="nav nav-masthead justify-content-center">
            <a id='home' class="nav-link" href="/home">Home</a>
            <a id='cargo' class="nav-link" href="/cargo">Cargo</a>
            <a id='spaceship' class="nav-link" href="/spaceship">Spaceship</a>
            <a id='captain' class="nav-link" href="/captain">Captain</a>
            <a id='login' class="nav-link" href="/">Log Out</a>
        </nav>
    </div>
</header>